
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: $primary-text-color;
  background-color: $main-lite-color;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

button {
  font-family: inherit;
    cursor: pointer;
    text-align: center;
    color: $main-lite-color;
    background-color: $accent-color;
}

img {
  display: block;
    max-width: 100%;
    height: auto;
}
.image-block {
  display: block;
}
.heading {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width:480px) {
    width: 480px;
  }

  @media screen and (min-width:768px) {
    width: 768px;
  }

  @media screen and (min-width:1200px) {
    width: 1200px;
  }
}
.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.icon {
  transition: fill cubic-bezier(0.4, 0, 0.2, 1);
}