/*-----Переваги-----*/
.benefits__subtitle {
  color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 30px;
  
    @media screen and (min-width: 768px) {
      text-align: left;
    }
}

.section-subtitle.second {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.benefits {
  @media screen and (max-width:1199px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  
    @media screen and (min-width:1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
}

.benefits__list {
  @media screen and (max-width:767px) {
      display: block;
    }
  
    @media screen and (min-width:768px) {
      display: flex;
      flex-wrap: wrap;
    }
  
    @media screen and (min-width:1200px) {
      display: flex;
    }
}

.benefits__item {
    @media screen and (max-width:767px) {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 1 * 30px) / 2);

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }

      &:not(:nth-child(2n)) {
        margin-right: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 3 * 30px) / 4);

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

.benefits__inner {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
  background-color: $second-background-color;
  border-radius: 4px;
    margin: 0;
    margin-bottom: 30px;
}
.benefits__title--hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.benefits__text {
  line-height: 1.71;
  color: #757575;
}
